- if @issue && (User.current.allowed_to?(:view_approval_items, @project) || @issue.approvers.include?(User.current))

  #approval_page
    :css
      #approval_page p {margin: 0;  padding: 0;}
      #approval_page p {list-style-type:none; margin: 0px 2px 0px 0px; padding: 0px 0px 0px 0px;}
      #approval_page a.delete {opacity: 0.4;}
      #approval_page a.delete:hover {opacity: 1;}
      #approval_page img.gravatar {vertical-align: middle; margin: 0 4px 2px 0;}

    .contextual
      - if !@issue.closed? && (User.current.allowed_to?(:manage_approval_items, @project))
        = link_to l(:button_add), {:controller => :approval_items, :action => :new, :issue_id => @issue.id}, :remote => true, :method => :get

    %h3
      = l(:label_approver_plural)
      = "(#{@issue.approvers.size})"

    #approval_items
      - @issue.approval_items.each do |item|
        = render :partial => 'issues/approval_item', :locals => {:approval_item => item}

    - if @issue.approval_items.any?
      %h4= link_to l(:label_card_approval), :controller => :approval_items, :action => :card, :issue_id => @issue

  - content_for :header_tags do
    = javascript_include_tag 'approval_page', :plugin => 'redmine_approval_page'
