= l(:mail_body_greeting) + ' ' + @username + ', ' + "#{@body}:"

%ul
- for issue in @issues
  %li
    = "#{l(:label_issue)}"
    = link_to "##{issue.id}", issue_path(issue, only_path: false)
    = " #{issue.subject}"
